<div id="create-queue-backdrop" class="hidden"></div>
<div id="create-queue" class="hidden">
  <div class="create-post-header">
    <h3>TA Help Request</h3>
  </div>

  <div class="modal-body">
    <div class="create-queue-input">
      <input type="text" id="queue-name-input" class="input-class" required/>
      <label id="queue-name-label" class="label-class">Name</label>
    </div>

    <div class="create-queue-input">
      <input type="text" id="room-number-input" class="input-class" required/>
      <label id="room-number-label" class="label-class">Breakout Room Number</label>
    </div>

    <p/>

    <div class="create-queue-input selection-thing">
      <div>
        <input type="radio" id="request-type-question" name="queue-inquiry" value="question"/>
        <label for="request-type-question" class="label-class">Question</label>
        <input type="radio" id="request-type-checkoff" name="queue-inquiry" value="checkoff"/>
        <label for="request-type-checkoff" class="label-class">Checkoff</label>
      </div>
    </div>

  </div>


  <div class="modal-footer">
    <button type="button" id="queue-cancel" class="pink-button">Cancel</button>
    <button type="button" id="queue-post" class="pink-button">Add to Queue</button>
  </div>

</div>
