<!--mel 6/6:
    - entirely new page, has not yet been styled in css
    - unknown how it looks or if it will work as needed-->

<div id="create-queue-backdrop" class="hidden"></div>
<div id="create-queue" class="hidden">
  <div class="create-post-header">
    <h3>TA Help Request</h3>
  </div>

  <div class="modal-body">
    <div class="create-queue-input">
      <input type="text" id="queue-name-input" class="input-class" required/>
      <label id="queue-name-label" class="label-class">Name</label>
    </div>

    <div class="create-queue-input">
      <input type="text" id="room-number-input" class="input-class" required/>
      <label id="room-number-label" class="label-class">Breakout Room Number</label>
    </div>

    <p/>

    <div class="create-queue-input selection-thing">
      <div>
        <input type="radio" id="request-type-question" name="queue-inquiry" value="question"/>
        <label for="request-type-question">Question</label>
        <input type="radio" id="request-type-checkoff" name="queue-inquiry" value="question"/>
        <label for="request-type-checkoff">Checkoff</label>
      </div>
    </div>

  </div>


  <div class="modal-footer">
    <button type="button" id="queue-cancel">Cancel</button>
    <button type="button" id="queue-post">Add to Queue</button>
  </div>

</div>
