<!--mel 6/6:
    - entirely new page, has not yet been styled in css
    - unknown how it looks or if it will work as needed-->

<div id="create-backdrop" class="hidden"></div>
<div id="create-queue" class="hidden">
  <div class="create-post-header">
    <h3>TA Help Request</h3>
  </div>

  <div class="modal-body">
    <div class="create-queue-input">
      <input type="text" id="queue-name-input" required/>
      <label id="queue-name-label">Name</label>
    </div>

    <div class="create-queue-input">
      <input type="text" id="room-number-input" required/>
      <label id="room-number-label">Breakout Room Number</label>
    </div>

    <div class="create-queue-input">
      <div>
        <input type="checkbox" id="request-type-question" name="request-type-question"/>
        <label for="request-type-question">Question</label>
      </div>
      <div>
        <input type="checkbox" id="request-type-checkoff" name="request-type-checkoff"/>
        <label for="request-type-checkoff">Checkoff</label>
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" id="question-cancel">Cancel</button>
    <button type="button" id="question-post">Add to Queue</button>
  </div>

</div>
