<!--mel 6/6:
    - removed 'x' button to keep consistent with question modal
    - changed some class names for consistency in styling-->



<div id="create-announcement-backdrop" class="hidden"></div>
<div id="create-announcement" class="hidden">
  <div class="create-post-header">
    <h3>Post an Announcement</h3>
    <!--<button type="button" class="announcement-modal-close-button">&times;</button>-->
  </div>

  <div class="modal-body">
    <div class="announcement-input-element">
      <input type="text" id="announcement-text-input" class="input-class" required/>
      <label id="announcement-text-label" class="label-class">Announcement</label>
    </div>

    <div class="announcement-input-element">
      <input type="text" id="announcement-author-input" class="input-class" required/>
      <label id="announcement-author-label" class="label-class">Name</label>
    </div>

    <div class="announcement-input-element">
      <input type="password" id="announcement-password-input" class="input-class" required/>
      <label id="announcement-password-label" class="label-class">TA Password</label>
    </div>
  </div>

  <div class="modal-footer">

    <button type="button" class="announcement-modal-cancel-button">Cancel</button>
    <button type="button" class="announcement-modal-accept-button">Post</button>
  </div>
</div>
