<div id="create-announcement-backdrop" class="hidden"></div>
<div id="create-announcement" class="hidden">
  <div class="create-post-header">
    <h3>Post an Announcement</h3>
    <button type="button" class="announcement-modal-close-button">&times;</button>
  </div>

  <div class="modal-body">
    <div class="announcement-input-element">
      <!--<label for="announcement-text-input">Announcement</label>-->
      <p id="question-text-label">Announcement</p>
      <textarea id="announcement-text-input" placeholder="Your announcement"></textarea>
    </div>

    <div class="announcement-input-element">
      <!--<label for="announcement-author-input">Name</label>-->
      <p id="question-name-label">Name</p>
      <input type="text" id="announcement-author-input" placeholder="Your full name">
    </div>

    <div class="announcement-input-element">
      <!--<label for="announcement-password-input">Secret TA password</label>-->
      <p id="question-name-label">Secret TA password</p>
      <input type="text" id="announcement-password-input" placeholder="Password">
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="announcement-modal-cancel-button">Cancel</button>
    <button type="button" class="announcement-modal-accept-button">Post</button>
  </div>
</div>
