<!--mel 6/6:
    - changed html for input text boxes to make consistent w other modals
    - changed some class names for consistency in styling-->

<div id="create-backdrop" class="hidden"></div>

<div id="create-lab" class="hidden">
    <div class="create-post-header">
    <h3>Create a Lab</h3>
    </div>

    <div class="modal-body">

        <div class="create-question-input">
            <!--<p id="lab-id-label">LAB ID</p>
            <textarea id="lab-pin" class="question-text-input" placeholder="Your lab ID/PIN that students use to join"></textarea>-->
            <input type="text" id="create-lab-pin-input" required/>
            <label id="lab-id-label">Lab ID</label>
        </div>

        <div class="create-question-input">
            <!--<p id="lab-name-label">LAB NAME</p>
            <textarea id="lab-name" class="question-text-input" placeholder="Your lab's name (ex. CS290 Week 8)"></textarea>-->
            <input type="text" id="create-lab-name-input" required/>
            <label id="lab-name-label">Lab Name</label>
        </div>

        <div class="create-question-input">
            <!--<p id="lab-password-label">LAB PASSWORD</p>
            <textarea id="lab-password" class="question-text-input" placeholder="Your lab's administrator password"></textarea>-->
            <input type="password" id="create-lab-password-input" required/>
            <label id="lab-password-label">Password</label>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" id="create-lab-cancel-button">Cancel</button>
        <button type="button" id="create-lab-create-button">Create</button>
    </div>


    <p class="contents-centered hidden" id="invalid-create-lab">Something went wrong. Please try again.</p>


</div>
