<div id="create-backdrop" class="hidden">

</div>


<div id="create-lab" class="hidden">
    <div class="create-question-header">
    <h3>Create a Lab</h3>
    </div>

    <div class="create-question-body">

        <div class="create-question-input">
            <p id="lab-id-label">LAB ID</p>
            <textarea id="lab-pin" class="question-text-input" placeholder="Your lab ID/PIN that students use to join"></textarea>
        </div>

        <div class="create-question-input">
            <p id="lab-name-label">LAB NAME</p>
            <textarea id="lab-name" class="question-text-input" placeholder="Your lab's name (ex. CS290 Week 8)"></textarea>
        </div>

        <div class="create-question-input">
            <p id="lab-password-label">LAB PASSWORD</p>
            <textarea id="lab-password" class="question-text-input" placeholder="Your lab's TA only password"></textarea>
        </div>
    </div>

    <div class="create-question-footer">
        <button type="button" id="create-lab-cancel-button">Cancel</button>
        <button type="button" id="create-lab-create-button">Create</button>
    </div>


    <p class="contents-centered hidden" id="invalid-create-lab">Something went wrong. Please try again.</p>



</div>