
<div id="create-backdrop" class="hidden"></div>

<div id="create-lab" class="hidden">
    <div class="create-post-header">
    <h3>Create a Lab</h3>
    </div>

    <div class="modal-body">

        <div class="create-question-input">
            <input type="text" id="create-lab-pin-input" class="input-class" required/>
            <label id="lab-id-label" class="label-class">Lab ID</label>
        </div>

        <div class="create-question-input">
            <input type="text" id="create-lab-name-input" class="input-class" required/>
            <label id="lab-name-label" class="label-class">Lab Name</label>
        </div>

        <div class="create-question-input">

            <input type="text" id="create-lab-password-input" class="input-class" required/>
            <label id="lab-password-label" class="label-class">Password</label>

        </div>
    </div>

    <div class="modal-footer">
        <button type="button" id="create-lab-cancel-button" class="pink-button">Cancel</button>
        <button type="button" id="create-lab-create-button" class="pink-button">Create</button>
    </div>


    <p class="contents-centered hidden" id="invalid-create-lab">Something went wrong. Please try again.</p>


</div>
