<article class="post">
    <div class="question-content">
        <p class="content">
            {{text}}
        </p>
        <p class="author">
            {{name}}
        </p>
    </div>
</article>