<div id="create-backdrop" class="hidden"></div>
<div id="create-question" class="hidden">
  <div class="create-post-header">
    <h3>Post a Question</h3>

  </div>

  <div class="modal-body">
    <div class="create-question-input">
      <!--<p id="question-text-label">Question</p>
      <textarea id="question-text-input" placeholder="Your question"></textarea>-->

      <input type="text" id="question-text-input" required/>
      <label id="question-text-label">Question</label>
    </div>

    <div class="create-question-input">
      <!--<p id="question-name-label">Name</p>
      <input type="text" id="question-name-input" placeholder="Your full name">-->

      <input type="text" id="question-name-input" required/>
      <label id="question-name-label">Name</label>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" id="question-cancel">Cancel</button>
    <button type="button" id="question-post">Post</button>
  </div>

</div>
