<article class="post">
    <div class="question-content">
        <p class="content">
            {{questionText}}
        </p>
        <p class="author">
            {{questionName}}
        </p>
    </div>
</article>