<article class="post">
    <div class="question-content">
        <p class="content">
            {{content}}
        </p>
        <p class="author">
            {{author}}
        </p>
    </div>
</article>