<!--mel 6/6:
    - redirected 'call for TA' to queue page, incl. roomid
    TODO:
    - get the "{{roomIdHome}}/queue" link to keep working from the queue page-->

<nav class="navbar">
    <ul class="navlist">
        <li class="navitem"><a href="/{{roomIdHome}}">Home</a></li>
        <li class="navitem"><a href="/{{roomIdHome}}/queue">Call for TA</a></li>
    </ul>
</nav>
