<!DOCTYPE html>
<html>
   <head>
      <title>OSU Lab Assistant</title>
      <!-- TODO: Move this to css folder once we figure things out -->
      <link rel="stylesheet" href="/css/style.css">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" crossorigin="anonymous">
      <link rel="shortcut icon" type="image/ico" href="/favicon.ico"/>
      <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>

      <script src="/js/questionTemplate.js"></script>
      <script src="/js/queueEntryTemplate.js"></script>
      <script src="/js/index.js" defer></script>
   </head>


   <body>
     {{> siteHeader}}

     {{{body}}}

   </body>
</html>
