<!DOCTYPE html>
<html>
   <head>
      <title>OSU Lab Assistant</title>
      <!-- TODO: Move this to css folder once we figure things out -->
      <link rel="stylesheet" href="/css/style.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" crossorigin="anonymous">

      <script src="/js/index.js" defer></script>
   </head>


   <body>
     {{> siteHeader}}
     {{> siteNavbar}}

     {{{body}}}

   </body>
</html>
