<main class="home-page">
    <div class="title-container">
        <h3>Your Lab Name: ***Name of lab here***</h2>
            <h4>Join Pin: ***some number here***
        </h3>
    </div>

    <section class="announcements">
        <div class="section-title">
            <h2 class="section-label-title">Announcements</h2>
            <button type="button" id="add-announcement"><i class="fas fa-plus"></i></button>
        </div>

        <main class="post-container">
            {{#each announcementArray}}
            {{> question}}
            {{/each}}
            <article class="post">
                <div class="announcement-content">
                    <p class="content">
                        Cats!
                    </p>
                    <p class="author">
                        Mel
                    </p>
                </div>
            </article>

            <article class="post">
                <div class="announcement-content">
                    <p class="content">
                        Cats!
                    </p>
                    <p class="author">
                        Mel
                    </p>
                </div>
            </article>



            </div>
    </section>

    <section class="questions">
        <div class="section-title">
            <h2 class='section-label-title'>Questions</h2>
            <button type="button" id="add-question"><i class="fas fa-plus"></i></button>
        </div>

        <main class="post-container">
            {{#each questionsArray}}
            {{> question}}
            {{/each}}
            </div>
    </section>
</main>

{{> questionModal}}
{{> announcementModal}}