{{> siteNavbar}}



<main class="home-page">
    <div class="title-container">
        <h3>Your Lab Name: {{roomNameHome}}</h3>
        <h4>Room ID: {{roomIdHome}} </h4>
    </div>

    <section class="announcements">
        <div class="section-title">
            <h2 class="section-label-title">Announcements</h2>
            <button type="button" id="add-announcement"><i class="fas fa-plus"></i></button>
        </div>

        <main class="post-container">
            {{#each announcementArray}}
            {{> question}}
            {{/each}}
    </section>

    <section class="questions">
        <div class="section-title">
            <h2 class='section-label-title'>Questions</h2>
            <button type="button" id="add-question"><i class="fas fa-plus"></i></button>
        </div>

        <main class="post-container">
            {{#each questionsArray}}
            {{> question}}
            {{/each}}
            </div>
    </section>
</main>

{{> questionModal}}
{{> announcementModal}}
