.hidden {
    display: None;
}

#create-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #000000d9;
}
#create-question {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    
    width: auto;
    max-width: 600px;
    min-width: 350px;
    min-height: 300px;
    height: fit-content;

    margin: 40px auto;
    background-color: #fff;
}

.create-question-header{
    position: relative;
    text-align: center;
}

.create-question-body {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


.create-question-input {
}

#question-text-input {

    width: 100%;
}

#question-name-input {
    width: 100%;
}


.create-question-input input,
.create-question-input textarea {
  padding: 8px 0;
  font-size: 20px;
  border: 2px solid #eb4d8a;
  border-radius: 1px;
  margin-bottom: 2%;
}

.create-question-input textarea {
    resize: none;
}

.create-question-footer {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

#question-cancel, #question-post{
    color: white;
    background-color: #eb4d8a;

    padding: 10px 20px;
    border: none; 
    border-radius: 3px;

    text-align: center;
    text-decoration: none;
    font-size: 16px;

    cursor: pointer;
}

#question-text-label, #question-name-label {
    color: #eb4d8a;
    position: absolute;
    background-color: white;
    padding: 0 5px;
}

#question-text-label {
    top: 32px;
    left: 75px;
}

#question-name-label {
    top: 112px;
    left: 75px;
}