/* general settings for the entire page */

/* Common themes:
    colors: eb4d8a pink, f0f0f0 light gray, 404040 dk gray
    font: Nanum Gothic
*/

body {
  font-family: 'Nanum Gothic', sans-serif;
  margin: 0;
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

header {
  background-color: #222222;
  color: #fff;
}

.site-title {
  margin: 0;
  padding: 20px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.navbar {
  font-size: 22px;
  background-color: #ffffff;
}

.navlist {
  margin: 0;
}

.navitem {
  display: inline-block;
}

.navitem:hover {
  background-color: #f0f0f0;
}

.navitem a {
  display: inline-block;
  color: #454545;
  padding: 10px 20px;
  text-decoration: none;
}

.home-page {
  flex-wrap: wrap;
  padding: 20px;
}

.post-container {
  display: flex;
  position: relative;
  padding: 10px;
  text-align: left;
  margin: 5px;
  flex-wrap: wrap;
}

.title-container {
  margin: 0px;
  padding: 5px;
  background-color: white;
  text-align: left;
}

.title-container-landing {
  margin: 0px;
  margin-left: 20px;
  padding: 5px;
  background-color: white;
  text-align: left;
}

.title-container h3{
  margin: 10px 0;
  font-weight: bold;
  font-size: 25px;
}

.title-container h4{
  margin: 10px 0;
  font-weight: bold;
  font-size: 20px;
}

.section-label-title {
  display: inline-block;
  font-weight: bold;
  /*border-bottom: 8px solid #f0f0f0;*/
  border-bottom: 2px solid #d3d3d3;
  margin: 10px 0;
}

.section-title {
  display: block;
}

#add-question, #add-announcement, #add-queue {
  position: static;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  border: 0px solid red;
  background-color: #eb4d8a;
  font-size: 10px;
  color: white;
  padding: 10px;
}

#add-question:hover, #add-announcement:hover, #add-queue {
    font-size: 10px;
    cursor: pointer;
}


.post {
  min-width: 300px;
  max-width: 300px;
  display: inline;
  margin: 5px;
  padding: 20px;
  border-right: 3px solid #f0f0f0;
  border-radius: 2px;
  position: relative;
}

.question-content {
  margin: 10px;
}

.content {
  text-align: left;
}

.author {
  text-align: right;
  font-weight: bold;
  bottom: 10px;
  position: relative;
}


.hidden {
    display: None;
}

#create-backdrop,
#create-announcement-backdrop,
#create-queue-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #000000d9;
}

#create-question,
#create-announcement,
#create-lab,
#create-queue {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    width: auto;
    max-width: 600px;
    min-width: 350px;
    min-height: 300px;
    height: fit-content;
    margin: 40px auto;
    background-color: #fff;
}

.create-post-header{
    display: inline-block;
    position: relative;
    /*text-align: left;*/
    margin: 20px;
    width: 90%;
    font-style: bold;
}

.input-class {
    width: 100%;
}


.modal-footer {
    position: relative;
    width: 80%;
    margin: 0 auto;
}


.pink-button {
    color: white;
    background-color: #eb4d8a;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    justify-content: center;
    text-align: left;
    text-decoration: none;
    font-size: 24px;
    cursor: pointer;
    width: 50%;
    display: flex;
    align-items: left;
}

.label-class {
  line-height: 6px;
  position: sticky;
  top: 32px;
  left: 10px;
  width: 100%;
  color: #d3d3d3;
  transition: 0.2s all;
  cursor: text;
}

.input-class {
  padding: 8px 0;
  font-size: 20px;
  border: 2px solid #eb4d8a;
  border-radius: 1px;
  margin-bottom: 2%;
  width: 100%;
}



.title-container h1 {
  padding-left: 20px;
}

/*
* Join lab input. Hover effect adapted from Enrico Mattiazzi
* https://codepen.io/ettzzi/pen/ZWgWKw
*/

#join-lab-module {
  margin: auto;
  margin-top: +40px;
  width: 50%;
  padding: 10px;
}

#join-lab-input-field {
  margin: auto;
  width: 50%;
  padding: 10px;
  position: relative;
  line-height: 44px;
}

/* this is the pin input on the landing page */
#join-lab-input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid #d3d3d3;
  box-shadow: none;
  color: #111;
}


#join-lab-label{
  line-height: 6px;
  position: absolute;
  top: 32px;
  left: 10px;
  width: 100%;
  color: #d3d3d3;
  transition: 0.2s all;
  cursor: text;
}

#join-lab-input:focus {
  border-color: #eb4d8a;
}

/* On hover, focus, or when there is text in the box, move the label up and turn pink. */
#join-lab-label:hover,
#join-lab-input:valid~#join-lab-label,
#join-lab-input:hover~#join-lab-label,
#join-lab-input:focus~#join-lab-label
{
  font-size: 24px;
  top: 0px;
  color: #eb4d8a;
}



.input-class {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid #d3d3d3;
  box-shadow: none;
  color: #111;
}

.input-class:focus {
  border-color: #eb4d8a;
}


#create-lab-pin-input:focus,
#create-lab-name-input:focus,
#create-lab-password-input:focus {
  border-color: #eb4d8a;
}


.selectable{
  cursor: pointer;
}


#request-type-question:hover~#question-request-type-label{
  color: #eb4d8a;
}


#request-type-checkoff:hover~#checkoff-request-type-label{
  color: #eb4d8a;
}



/* On hover, focus, or when there is text in the box, move the label up and turn pink. */

.input-class:focus~.label-class
{
  font-size: 24px;
  top: 0px;
  color: #eb4d8a;
}

.selection-thing {
  justify-content: center;
}

/*
* This shares styles with the cancel and post buttons on the ask a
* question module. Maybe we make a global class? - Aaron
*/

#create-lab-open-button,
#join-lab-button {
  color: white;
  background-color: #eb4d8a;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  cursor: pointer;
  margin: auto;
  width: 50%;
  display: flex;
  align-items: center;

}


/* When your join pin is invalid */
#invalid-pin, #invalid-create-lab{
  color: red;
}

.contents-centered{
  text-align: center;
}


#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}


.hidden {
  display: none;
}


.modal-body {
    padding: 20px;
    /*margin-left: auto;
    margin-right: auto;*/
    position: relative;
    display: table;
    width: 90%;
}

.modal-footer {
  display: flex;
  justify-content: center;
  padding: 10px 10px 20px 10px;
}

.queue-page {
  padding: 20px;
}

table {
  margin: auto;
  margin-top: 20px;
  border: 2px solid #ababab;
  border-collapse: collapse;
  width: 100%;
}

th:not(.name-cell), td:not(.name-cell) {
  width:1%;
  white-space:nowrap;
}

th, td {
  font-size: large;
  text-align: left;
  border: 2px solid #ababab;
  padding: 0.5em;
}

th {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #c0c0c0;
}

tr:nth-child(odd) {
  background-color: #f0f0f0;
}

.queue-title-container {
  display: flex;
  align-items: center;
}

#ta-signin {
  color: white;
  background-color: #eb4d8a;
  margin-left: auto;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  justify-content: center;
  text-align: left;
  text-decoration: none;
  font-size: large;
  cursor: pointer;
  display: flex;
  align-items: left;
}

#add-queue {
  margin-left: 10px;
}

.close-button-cell {
  text-align: center;
}

.queue-remove-button {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10%;
  border: 0px solid red;
  /* change this color */
  background-color: #eb0000;
  font-size: 1em;
  color: white;
  height: 1.4em;
  width: 1.4em;
}

.queue-remove-button:hover{
  background-color: #eb8080;
}

/* 404 Page */
.main-404-page {
  margin: auto;
  margin-top: 20px;
}
.main-404-page h1 {
  margin: auto;
  text-align: center;
  font-size: 100px;
}

.main-404-page h3 {
  margin: auto;
  text-align: center;
}


/* These should be all moved to pink button. We should only define the colors in the pink button */
#ta-signin:hover,
#join-lab-button:hover,
#create-lab-open-button:hover,
#create-lab-cancel-button:hover,
#create-lab-create-button:hover,
#add-question:hover,
#add-queue:hover,
#add-announcement:hover,
.pink-button:hover{
  background-color: rgb(207, 41, 124);
}



#add-question,
#add-queue,
#add-announcement{
  margin-left: 10px;
}


